#master-canvas {
    border: 1px solid black;

    /* Centering */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#game-status {
    margin-left: auto;
    margin-right: auto;
}