#chat-history {
    width: 600px;

    /* Centering */
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
}

#chat-form {
    width: 600px;

    /* Centering */
    margin-left: auto;
    margin-right: auto;

}

#chat-form input[type="text"] {
    width: 600px;
}
