#chat-history {
    width: 100%;

    /* Centering */
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
    font-size: 20px;

    /* Initially Hide */
    display: none;
}

#chat-form {
    width: 100%;

    /* Centering */
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 15px;

    /* Initially Hide */
    display: none;
}

#chat-form input[type="text"] {
    width: 800px;
}
