#chat-history {
    width: 600px;

    /* Centering */
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;

    /* Initially Hide */
    display: none;
}

#chat-form {
    width: 600px;

    /* Centering */
    margin-left: auto;
    margin-right: auto;

    /* Initially Hide */
    display: none;

}

#chat-form input[type="text"] {
    width: 600px;
}
